# Dependencies
node_modules

# Next.js build output
.next
out
dist

# Logs
npm-debug.log
yarn-error.log

# Docker files
Dockerfile
docker-compose.yml

# Git
.git
.gitignore

# Test output
playwright-report
test-results

# OS junk
.DS_Store
